/************
    RESET
************/
* {
    margin: 0;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

/***********
    BODY
***********/
.img-fluid {
    max-width: 100%;
    height: auto;
}

.displayNone {
    display: none;
}

/*****HEADER*****/
.headerBG {
    background-image: url(../assets/images/dusk_serenity_by_alectorfencer_d3hiuhx.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 720px;
}

.headerBG-dragons {
    background-image: url(../assets/images/Bloodchaser/Warelm/Warelm_Front.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 720px;
}

.headerBG-about {
    background-image: url(../assets//images/michael-fousert-0962p7mcux4-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 720px;
}

#globalHeader {

    .header-container {
        background: rgba(0, 0, 0, 0.775);
        display: grid;
        grid-template-areas: "logo navigation header-vectors";
        align-items: center;
        z-index: 2;
        position: fixed;
        width: 100%;

        .logo img {
            width: 75px;
            margin: 10px 0px 10px 30px;
        }

        .navigation ul {
            padding: 0%;
            text-align: center;

            li {
                list-style-type: none;
                display: inline-block;
                margin: 0 20px 0;
                color: #fff;
                font-size: 24px;
            }

            li:hover {
                color: #efc864;
            }
        }

        .header-vectors {
            text-align: center;

            .location img {
                width: 50px;
                height: 50px;
                margin: 0px 10px 0 0;
            }

            .account img {
                width: 50px;
                height: 50px;
                margin: 0 0 0 10px;
            }
        }
    }

    .indexButton {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            top: 70%;
            position: absolute;
            width: 250px;

            button {
                z-index: 1;
                padding: 20px 30px;
                color: #fff;
                font-size: 36px;
                border: none;
                border-radius: 30px;
                cursor: pointer;
                opacity: 70%;
                background-color: #000;
            }

            button:hover {
                opacity: 100%;
                transition: 0.8s;
            }
        }
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            z-index: 1;
            position: absolute;
            top: 50%;
            font-size: 72px;
            font-family: 'Lemonada', sans-serif;
            color: #efc864;
        }

        h1:after {
            content: "";
            display: block;
            height: 2px;
            width: 500px;
            margin: 10px auto 0;
            background-color: #abaaaa;
        }
    }
}

/*Homepage*/
#content {
    article {
        text-align: center;
        margin: 40px 0px;

        h1 {
            margin: 0px 0px 40px;
            font-size: 48px;
            font-family: 'Lemonada', sans-serif;
        }

        h1:after {
            content: "";
            display: block;
            height: 1px;
            width: 230px;
            margin: 10px auto 0;
            background-color: #abaaaa;
        }

        p {
            margin: 0px 30px;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
            line-height: 2;
        }
    }

    .info-container {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        background-color: #f7dad8;
        margin: 80px 30px 30px;
        border-radius: 30px;
        justify-content: center;

        div {
            display: inline-block;
            margin: 20px 30px;
            font-family: 'Poppins', sans-serif;

            h2 {
                margin: 0px 0px 20px;
                font-size: 36px;
            }

            p {
                width: 1000px;
                font-size: 18px;
            }

            a {
                text-decoration: none;
            }

            button {
                margin: 20px 0px;
                display: block;
                padding: 15px 20px;
                color: #fff;
                font-size: 28px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                opacity: 70%;
                background-color: #000;
            }

            img {
                width: 300px;
                border-radius: 100%;
            }
        }
    }

    .info1-container {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        background-color: #c1b8c9;
        margin: 80px 30px 30px;
        border-radius: 30px;
        justify-content: center;

        div {
            display: inline-block;
            margin: 20px 30px;
            font-family: 'Poppins', sans-serif;

            h2 {
                margin: 0px 0px 20px;
                font-size: 36px;
            }

            p {
                width: 1000px;
                font-size: 18px;
            }

            a {
                text-decoration: none;
            }

            button {
                margin: 20px 0px;
                display: block;
                padding: 15px 20px;
                color: #fff;
                font-size: 28px;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                opacity: 70%;
                background-color: #000;
            }

            img {
                width: 300px;
                border-radius: 100%;
            }
        }
    }

    .info2-container {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        background-color: #d7dbe4;
        margin: 80px 30px;
        border-radius: 30px;
        justify-content: center;

        div {
            display: inline-block;
            margin: 20px 30px;
            font-family: 'Poppins', sans-serif;

            h2 {
                margin: 0px 0px 20px;
                font-size: 36px;
            }

            p {
                width: 1000px;
                font-size: 18px;
            }

            img {
                width: 300px;
                border-radius: 100%;
            }
        }
    }
}

/*Dragons*/
#shop {
    padding: 80px 30px;

    #shopTitle {
        padding-bottom: 20px;
        text-align: center;
        font-size: 48px;
        font-family: 'Lemonada', sans-serif;
    }

    hr {
        width: 1350px;
        margin: auto;
    }

    section {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;

        .card {
            width: 400px;
            display: inline-block;
            background-color: transparent;
            perspective: 1000px;
            margin: 30px 30px 650px;

            .card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.3s;
                transform-style: preserve-3d;

                .card-front {
                    background-color: #222831;
                    border-radius: 20px;
                    color: #fff;
                    padding: 10px 0px;
                    height: 620px;

                    h3 {
                        font-size: 32px;
                        font-family: 'Lemonada', sans-serif;
                        margin: 20px 0px 10px;
                        color: #ffbe33;
                    }

                    img {
                        border-radius: 10px;
                        margin: 10px;
                    }

                    p {
                        text-align: center;
                        font-size: 24px;
                        margin: 20px;
                    }

                    .rarityCommon {
                        color: #859596;
                    }

                    .rarityRare {
                        color: #308ec1;
                    }

                    .rarityEpic {
                        color: #8868be;
                    }

                    .rarityLegendary {
                        color: #b1963e;
                    }

                    #rarity {
                        font-weight: 600;
                        font-size: 30px;
                    }

                    #rarity:after {
                        content: "";
                        display: block;
                        height: 2px;
                        width: 350px;
                        margin: 20px auto 0;
                        background-color: #fff;
                    }

                    .price {
                        margin: 10px 20px 20px;
                        padding: 10px;
                        background-color: #ffbe33;
                        border-radius: 30px;

                        p {
                            color: #fff;
                            font-size: 36px;
                            font-weight: 700;
                            font-family: 'Poppins', sans-serif;
                        }
                    }
                }

                .card-back {
                    width: 400px;
                    background-color: #222831;
                    border-radius: 20px;
                    color: #fff;
                    padding: 10px 0px;
                    transform: rotateY(180deg);
                    height: 620px;

                    img {
                        border-radius: 10px;
                        margin: 30px 0;
                    }

                    .select {
                        margin: 30px 20px 20px;
                        background-color: #ffbe33;
                        border-radius: 30px;
                        padding: 30px 0;
                        cursor: pointer;

                        p {
                            padding: 0px;
                            color: #fff;
                            font-size: 36px;
                            font-weight: 700;
                            font-family: 'Poppins', sans-serif;
                        }
                    }

                    .select:hover {
                        background-color: #d4b05a;
                    }
                }

                .card-front,
                .card-back {
                    position: absolute;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }
            }
        }

        .card:hover .card-inner {
            transform: rotateY(180deg);
        }
    }

    #cart {
        #cartTable {
            width: 1000px;
            margin: 0 auto 0 auto;
            padding: 0 10px 0 10px;

            ul {
                li {
                    border-radius: 3px;
                    padding: 25px 30px;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 25px;
                    align-items: center;

                    .removeBtn {
                        border: none;
                        padding: 8px 8px;
                        border-radius: 5px;
                        cursor: pointer;
                        background-color: rgba(227, 73, 73, 0.718);

                        img {
                            width: 15px;
                        }
                    }

                    .removeBtn:hover {
                        background-color: rgba(241, 37, 37, 0.901);
                    }
                }

                .table-header-footer {
                    background-color: #95A5A6;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 0.03em;
                    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
                }

                .tableRow {
                    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
                }

                .col-1 {
                    flex-basis: 30%;
                }

                .col-2 {
                    flex-basis: 30%;
                }

                .col-3 {
                    flex-basis: 30%;
                }

                .col-4 {
                    flex-basis: 10%;
                }
            }
        }
    }
}

.toast {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

/*About*/
#about {
    .section1 {
        margin: 80px 0px;

        .information {
            display: flex;
            flex-flow: wrap;
            align-items: center;
            justify-content: center;
            margin: 20px 30px;

            div {
                display: inline-block;
                margin: 20px 60px;

                h2 {
                    font-family: 'Lemonada', sans-serif;
                    font-size: 48px;
                    margin-bottom: 30px;
                    margin-top: -20px;
                }

                p {
                    font-size: 20px;
                    line-height: 1.8;
                    width: 700px;
                    text-align: justify;
                    margin-top: -30px;
                }

                img {
                    border-radius: 10px;
                }
            }
        }

        .visionAndMission {
            margin: 80px 30px;
            display: grid;
            grid-template-areas: "VAMimg vision mission";
            align-items: center;

            .VAMimg img {
                width: 300px;
                border-radius: 100%;
            }

            .vision {
                margin: 0px 20px;
            }

            h2 {
                font-family: 'Poppins', sans-serif;
                font-size: 36px;
                margin-bottom: 20px;
            }

            .mission {
                margin: 0px 20px;
            }

            p {
                font-size: 18px;
                line-height: 1.8;
                text-align: justify;
                width: 500px;
            }
        }
    }

    .section2 {
        padding: 80px 0px;
        background-color: #f7dad8;

        article {
            display: flex;
            flex-flow: wrap;
            align-items: center;
            justify-content: center;

            .adopt {
                display: inline-block;
                margin: 20px 30px;

                h3 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 28px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 20px;
                    line-height: 1.8;
                    text-align: justify;
                    width: 560px;
                }

                img {
                    border-radius: 20px;
                    width: 500px;
                }
            }
        }
    }
}

/*Contact*/
#contact {
    background-image: url("../assets/images/1378122.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        padding-top: 120px;
        padding-bottom: 60px;
        text-align: center;
        font-size: 48px;
        font-family: 'Lemonada', sans-serif;
    }

    .formulary {
        display: flex;
        flex-flow: column;
        align-items: center;

        fieldset {
            opacity: 98%;
            border: none;
            background-image: linear-gradient(#d7dbe4, #d4b05a);
            width: 600px;
            padding: 20px 40px;
            border-radius: 10px;

            div {
                margin: 50px 0;

                label {
                    font-family: 'Poppins', sans-serif;
                    font-size: 20px;
                    margin: 0 10px;
                }

                input {
                    width: 95%;
                    border-radius: 20px;
                    padding: 10px;
                    height: 20px;
                }

                textarea {
                    width: 95%;
                    padding: 10px;
                    height: 150px;
                    border-radius: 20px;
                }
            }
        }

        div {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: 40px;
            font-family: 'Poppins', sans-serif;

            .checkbox {
                display: flex;
                flex-flow: row;

                p {
                    font-size: 20px;
                    margin: 10px;
                }
            }

            .buttons {
                margin-top: -20px;
                display: inline;

                input {
                    border: none;
                    font-size: 24px;
                    padding: 20px;
                    margin: 0px 10px;
                    width: 300px;
                }

                input:hover {
                    background-color: #e0bb60;
                    cursor: pointer;
                }
            }
        }
    }
}

/*Sign In*/
#signin {
    background-color: #efefef;

    #login-form {
        padding: 220px 0 150px;

        #login {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;

            fieldset {
                opacity: 98%;
                border: none;
                background-image: linear-gradient(#d7dbe4, #d4b05a);
                width: 400px;
                height: 300px;
                padding: 20px 40px;
                border-radius: 10px;

                aside {
                    position: absolute;
                    z-index: 2;
                    right: 35.5%;

                    a img {
                        width: 30px;
                    }

                    img:hover {
                        animation-name: spin;
                        animation-duration: 5000ms;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                }

                div {
                    margin: 50px 0;

                    label {
                        font-family: 'Poppins', sans-serif;
                        font-size: 24px;
                    }

                    input {
                        width: 95%;
                        border-radius: 0px;
                        padding: 10px;
                        height: 20px;
                        border: none;
                    }
                }
            }

            .checkbox {
                margin: 10px 0px 50px;

                p {
                    display: inline;
                    margin: 0px 10px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 20px;
                }
            }

            .buttons {
                margin-top: -20px;
                display: inline;

                input {
                    border: none;
                    font-size: 24px;
                    padding: 20px;
                    margin: 0px 10px;
                    width: 280px;
                    background-color: #abaaaa;
                }

                input:hover {
                    background-color: #e0bb60;
                    cursor: pointer;
                }
            }
        }
    }

    #signUp-form {
        padding: 220px 0 150px;

        #createAccount {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;

            fieldset {
                opacity: 98%;
                border: none;
                background-image: linear-gradient(#d7dbe4, #d4b05a);
                width: 400px;
                height: 820px;
                padding: 20px 40px;
                border-radius: 10px;

                div {
                    margin: 50px 0;

                    label {
                        font-family: 'Poppins', sans-serif;
                        font-size: 24px;
                    }

                    input {
                        width: 95%;
                        border-radius: 0px;
                        padding: 10px;
                        height: 20px;
                        border: none;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }

            div {
                margin-top: 40px;

                #register {
                    background-color: #abaaaa;
                    border: none;
                    font-size: 24px;
                    padding: 20px;
                    margin: 0px 10px;
                    width: 280px;
                }

                #register:hover {
                    background-color: #e0bb60;
                    cursor: pointer;
                }
            }
        }
    }
}


/*****FOOTER*****/
footer {
    background-color: rgba(0, 0, 0, 0.775);
    color: #fff;
    padding: 40px;

    section {
        display: grid;
        grid-template-areas: "copyright social policies";
        align-items: center;

        .copyright p {
            font-size: 18px;
            text-align: left;
        }

        .social {
            text-align: center;

            img {
                width: 50px;
                margin: 0px 20px;
            }
        }

        .policies ul {
            padding: 0%;
            text-align: right;

            li {
                list-style-type: none;
                display: inline-block;
                margin: 0 20px 0;
                font-size: 24px;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 18px;
                }

                a:hover {
                    color: #efc864;
                }
            }
        }
    }
}