/************
    RESET
************/
* {
  margin: 0;
  font-size: 16px; }

html {
  scroll-behavior: smooth; }

/***********
    BODY
***********/
.img-fluid {
  max-width: 100%;
  height: auto; }

/*****HEADER*****/
.headerBG {
  background-image: url(../assets/images/dusk_serenity_by_alectorfencer_d3hiuhx.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 720px; }

.headerBG-dragons {
  background-image: url(../assets/images/Bloodchaser/Warelm/Warelm_Front.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 720px; }

.headerBG-about {
  background-image: url(../assets//images/michael-fousert-0962p7mcux4-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 720px; }

#globalHeader .header-container {
  background: rgba(0, 0, 0, 0.775);
  display: grid;
  grid-template-areas: "logo navigation header-vectors";
  align-items: center;
  z-index: 2;
  position: fixed;
  width: 100%; }
  #globalHeader .header-container .logo img {
    width: 75px;
    margin: 10px 0px 10px 30px; }
  #globalHeader .header-container .navigation ul {
    padding: 0%;
    text-align: center; }
    #globalHeader .header-container .navigation ul li {
      list-style-type: none;
      display: inline-block;
      margin: 0 20px 0;
      color: #fff;
      font-size: 24px; }
    #globalHeader .header-container .navigation ul li:hover {
      color: #efc864; }
  #globalHeader .header-container .header-vectors {
    text-align: center; }
    #globalHeader .header-container .header-vectors a img {
      width: 50px;
      height: 50px; }

#globalHeader .indexButton {
  display: flex;
  justify-content: center;
  align-items: center; }
  #globalHeader .indexButton a {
    top: 70%;
    position: absolute;
    width: 250px; }
    #globalHeader .indexButton a button {
      z-index: 1;
      padding: 20px 30px;
      color: #fff;
      font-size: 36px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      opacity: 70%;
      background-color: #000; }
    #globalHeader .indexButton a button:hover {
      opacity: 100%;
      transition: 0.8s; }

#globalHeader .title {
  display: flex;
  justify-content: center;
  align-items: center; }
  #globalHeader .title h1 {
    z-index: 1;
    position: absolute;
    top: 50%;
    font-size: 72px;
    font-family: 'Lemonada', sans-serif;
    color: #efc864; }
  #globalHeader .title h1:after {
    content: "";
    display: block;
    height: 2px;
    width: 500px;
    margin: 10px auto 0;
    background-color: #abaaaa; }

#content article {
  text-align: center;
  margin: 40px 0px; }
  #content article h1 {
    margin: 0px 0px 40px;
    font-size: 48px;
    font-family: 'Lemonada', sans-serif; }
  #content article h1:after {
    content: "";
    display: block;
    height: 1px;
    width: 230px;
    margin: 10px auto 0;
    background-color: #abaaaa; }
  #content article p {
    margin: 0px 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    line-height: 2; }

#content .info-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  background-color: #f7dad8;
  margin: 80px 30px 30px;
  border-radius: 30px;
  justify-content: center; }
  #content .info-container div {
    display: inline-block;
    margin: 20px 30px;
    font-family: 'Poppins', sans-serif; }
    #content .info-container div h2 {
      margin: 0px 0px 20px;
      font-size: 36px; }
    #content .info-container div p {
      width: 1000px;
      font-size: 18px; }
    #content .info-container div a {
      text-decoration: none; }
    #content .info-container div button {
      margin: 20px 0px;
      display: block;
      padding: 15px 20px;
      color: #fff;
      font-size: 28px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      opacity: 70%;
      background-color: #000; }
    #content .info-container div img {
      width: 300px;
      border-radius: 100%; }

#content .info1-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  background-color: #c1b8c9;
  margin: 80px 30px 30px;
  border-radius: 30px;
  justify-content: center; }
  #content .info1-container div {
    display: inline-block;
    margin: 20px 30px;
    font-family: 'Poppins', sans-serif; }
    #content .info1-container div h2 {
      margin: 0px 0px 20px;
      font-size: 36px; }
    #content .info1-container div p {
      width: 1000px;
      font-size: 18px; }
    #content .info1-container div a {
      text-decoration: none; }
    #content .info1-container div button {
      margin: 20px 0px;
      display: block;
      padding: 15px 20px;
      color: #fff;
      font-size: 28px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      opacity: 70%;
      background-color: #000; }
    #content .info1-container div img {
      width: 300px;
      border-radius: 100%; }

#content .info2-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  background-color: #d7dbe4;
  margin: 80px 30px;
  border-radius: 30px;
  justify-content: center; }
  #content .info2-container div {
    display: inline-block;
    margin: 20px 30px;
    font-family: 'Poppins', sans-serif; }
    #content .info2-container div h2 {
      margin: 0px 0px 20px;
      font-size: 36px; }
    #content .info2-container div p {
      width: 1000px;
      font-size: 18px; }
    #content .info2-container div img {
      width: 300px;
      border-radius: 100%; }

#about .section1 {
  margin: 80px 0px; }
  #about .section1 .information {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 30px; }
    #about .section1 .information div {
      display: inline-block;
      margin: 20px 60px; }
      #about .section1 .information div h2 {
        font-family: 'Lemonada', sans-serif;
        font-size: 48px;
        margin-bottom: 30px;
        margin-top: -20px; }
      #about .section1 .information div p {
        font-size: 20px;
        line-height: 1.8;
        width: 700px;
        text-align: justify;
        margin-top: -30px; }
      #about .section1 .information div img {
        border-radius: 10px; }
  #about .section1 .visionAndMission {
    margin: 80px 30px;
    display: grid;
    grid-template-areas: "VAMimg vision mission";
    align-items: center; }
    #about .section1 .visionAndMission .VAMimg img {
      width: 300px;
      border-radius: 100%; }
    #about .section1 .visionAndMission .vision {
      margin: 0px 20px; }
    #about .section1 .visionAndMission h2 {
      font-family: 'Poppins', sans-serif;
      font-size: 36px;
      margin-bottom: 20px; }
    #about .section1 .visionAndMission .mission {
      margin: 0px 20px; }
    #about .section1 .visionAndMission p {
      font-size: 18px;
      line-height: 1.8;
      text-align: justify;
      width: 500px; }

#about .section2 {
  padding: 80px 0px;
  background-color: #f7dad8; }
  #about .section2 article {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center; }
    #about .section2 article .adopt {
      display: inline-block;
      margin: 20px 30px; }
      #about .section2 article .adopt h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        margin-bottom: 20px; }
      #about .section2 article .adopt p {
        font-size: 20px;
        line-height: 1.8;
        text-align: justify;
        width: 560px; }
      #about .section2 article .adopt img {
        border-radius: 20px;
        width: 500px; }

footer {
  background-color: rgba(0, 0, 0, 0.775);
  color: #fff;
  padding: 40px; }
  footer section {
    display: grid;
    grid-template-areas: "copyright social policies";
    align-items: center; }
    footer section .copyright p {
      font-size: 18px;
      text-align: left; }
    footer section .social {
      text-align: center; }
      footer section .social img {
        width: 50px;
        margin: 0px 20px; }
    footer section .policies ul {
      padding: 0%;
      text-align: right; }
      footer section .policies ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0 20px 0;
        font-size: 24px; }
        footer section .policies ul li a {
          color: #fff;
          text-decoration: none;
          font-size: 18px; }
        footer section .policies ul li a:hover {
          color: #efc864; }
